/*=============================================
=            Settings Sidebar styles          =
=============================================*/

/* To change with more specific selectors and better values for margin and padding */

.block-editor-block-inspector fieldset {
	margin: 8px;
	padding: 8px;
}

/*=====  End of Settings Sidebar styles  ======*/

.section__container {
	&.is-selected {
		.section__background {
			z-index: 200;
		}

		.section__content {
			z-index: 201;
		}

		.section__label {
			z-index: 202;
		}

		.section__point-wrapper {
			z-index: 203;
		}

		&::after {
			box-shadow: none !important; // Remove the blue outline
		}
	}
}

.section__container {
	.section__point-wrapper {
		// Positioning
		position: absolute;
		top: 0;
		left: 0;

		// Display and Box Model
		display: inline-block;

		.section__point {
			// Display and Box Model
			display: inline-block;
			height: 16px;
			width: 16px;

			// Others
			cursor: move;
			background-color: whitesmoke;
			border: 4px solid tomato;
			border-radius: 50%;
			box-shadow: 0 0 2px lightslategray;

			transform: translate(-50%, -50%);
		}
	}
}
