.section__background {
	// Positioning
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	// Display and Box Model
	height: var(--parent-height);
	width: var(--parent-width);

	// Others
	clip-path: var(--background-clip-path);
	background-color: var(--background);
	transition: 0.5s ease clip-path;

	&.revealed {
		clip-path: none;
	}
}

.section__label {
	// Positioning
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	// Others
	transform-origin: center;
	transition: 0.5s ease all;

	&.revealed {
		transform: none;
	}
}

.section__content {
	// Positioning
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 0;

	// Others
	transform: translateX(-100vw);
	opacity: 0;
	transition: 0.5s ease all;

	&.revealed {
		transform: none;
		opacity: 1;
	}
}
